---
user: 
region: 
telegram:
  template: 
  id:
  key:
  author:
eurocore:
  url: 
  user: 
  password: 
request_rate: 
cache:
  active: 
  cache_dir: 
  cache_file: 
log:
  token:
  endpoint:
  level: 
